<p>Hi <%= @task.project.client.name%>,</p>
<p>The task <%= @task.title %> belonging to <%= @task.project.name %> has been completed and closed. It was due on <%= @task.due_date.strftime("%A, %d %B %Y")%>.</p>

<p>Regards,<br/>Team Taskbox</p>

<%= image_tag("http://department.sunysuffolk.edu/DeptImages/StayonLongIslandScholarships_Images/SBU-wSUNY-horz_2clr_cmyk1_350w.jpg") %>
