<%= form_for @announcement do |f| %>

	<% if @announcement.errors.any? %>
		<div class="alert alert-danger" role="alert">
			<h4>These errors prohibit the form from being saved:</h4>
			<ul>
				<% for msg in @announcement.errors.full_messages %>
					<li><%= msg%></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="form-group">
		<label>Title</label><br/>
		<%= f.text_field :title, required: true %>
	</div>

	<div class="form-group">
		<label>Content</label><br/>
		<%= f.text_area :content, required: true %>
	</div>

	<%= f.submit "Submit", class: "bt btn-primary"%>
<% end %>