<div class="page-header">
	<h1>Listing Announcements</h1>
</div>


<%= link_to new_announcement_path, class: "btn btn-primary" do %>
<span class="glyphicon glyphicon-plus"></span> New Announcement
<% end %>

<% if @announcements.empty? %>
	<h3>NO ANNOUNCEMENTS FOUND!!</h3>

<% else %>
	<h3><%= @announcements.size%> ANNOUNCEMENTS FOUND</h3>

	<table class="table table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>TITLE</th>
			<th>CONTENT</th>
		</tr>
	</thead>
	<tbody>
		<% @announcements.each_with_index do |announcement, index|%>
		<tr>
			<td><%=index+1 %></td>
			<td><%= announcement.title %></td>
			<td><%= announcement.content %></td>
			<td>
			<div class="btn-group btn-group-sm" role="group" aria-label="...">
				<%= link_to edit_announcement_path(announcement.id), class: "btn btn-warning" do %>
				<span class="glyphicon glyphicon-pencil"></span> Edit<% end %>
				<%= link_to announcement_path(announcement.id), data: {method: :delete, confirm: "Do you want to delete?"}, class: "btn btn-danger" do %>
				<span class="glyphicon glyphicon-trash"></span> Delete<% end %>
			</div>
			</td>
		</tr>
		<%end%>
	</tbody>
	</table>
<% end %>