<h1>CLIENTS</h1>

<h2>NUMBER OF CLIENTS AVAILABLE: <%= @clients.size%></h2>
<table border="2">
	<thead>
		<tr>
			<th>#</th>
			<th>NAME</th>
			<th>COMPANY</th>
			<th>MOBILE NUMBER</th>
			<th>EMAIL</th>
		</tr>
	</thead>
	<tbody>
		<% @clients.each_with_index do |client, index|%>
			<tr>
				<td><%=index+1 %></td>
				<td><%=client.name %></td>
				<td><%=client.company %></td>
				<td><%=client.mobile_number %></td>
				<td><%=client.email %></td>
			</tr>
		<%end%>
	</tbody>
</table>

<br>
<%= "="*210 %>
<br>

<h2>THE PROJECTS:</h2>

<% @clients.each do |client| %>
	<h3>CLIENT DETAILS:</h3>
	<h4><%= client.details.html_safe %></h4>
	<h3>PROJECTS: </h3>
	<table border="1">
		<thead>
			<tr>
				<th>NAME</th>
				<th>DESCRIPTION</th>
				<th>START DATE</th>
				<th>END DATE</th>
				<th>ESTIMATED BUDGET</th>
				<th>STATUS</th>
			</tr>
		</thead>
		<tbody>
			<% total_budget = 0 %>
			<% client.list_projects.each do |project| %>
			<% total_budget += project.estimated_budget %>
				<tr>
					<td><%= project.name %></td>
					<td><%= project.description %></td>
					<td><%= project.start_date.strftime("%A, %d %B %Y") %></td>
					<td><%= project.end_date.strftime("%A, %d %B %Y") %></td>
					<td>₹ <%= project.estimated_budget %></td>
					<td><%= project.status %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<h3>TOTAL BUDGET: ₹ <%= total_budget %></h3>
	<br>
	<hr/>
<% end %>