<h1>PROJECTS</h1>
<table border="2">
	<thead>
		<tr>
			<th>#</th>
			<th>NAME</th>
			<th>CLIENT</th>
			<th>DESCRIPTION</th>
			<th>START DATE</th>
			<th>END DATE</th>
		</tr>
	</thead>
	<tbody>
		<% @projects.each_with_index do |project, index|%>
			<tr>
				<td><%=index+1 %></td>
				<td><%=project.name %></td>
				<td><%=Client.find(project.client_id).name %></td>
				<td><%=project.description %></td>
				<td><%=project.start_date.strftime("%A, %d %B %Y") %></td>
				<td><%=project.end_date.strftime("%A, %d %B %Y") %></td>
			</tr>
			<%end%>
	</tbody>
</table>

<h1>ALL PROJECTS WITH TASKS</h1>

<% @projects.each do |project| %>
	<% if project.list_tasks.size <= 0
		next
		end %>
	<h2>PROJECT <%= project.name%> DETAILS:</h2>
	<%= project.details.html_safe %>
	<h3>TASKS: </h3>
	<table border="2">
	<thead>
		<tr>
			<th>#</th>
			<th>TITLE</th>
			<th>DUE DATE</th>
			<th>IS COMPLETED</th>
		</tr>
	</thead>
	<tbody>
		<% project.list_tasks.each_with_index do |task, index|%>
		<% if task.is_completed %>
			<tr>
				<td><s><%=index+1 %></s></td>
				<td><s><%=task.title %></s></td>
				<td><s><%=task.due_date.strftime("%A, %d %B %Y") %></s></td>
				<td><s><%=task.is_completed %></s></td>
			</tr>
		<% else %>
		<tr>
				<td><%=index+1 %></td>
				<td><%=task.title %></td>
				<td><%=task.due_date.strftime("%A, %d %B %Y") %></td>
				<td><%=task.is_completed %></td>
			</tr>
			<% end %>
		<%end%>
	</tbody>
</table>
<hr/>
<% end %>