<!DOCTYPE html>
<html>
<head>
  <title>Taskbox</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://www.google.com/jsapi" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <link href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" rel="stylesheet">

  <script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
<h1 class="bg-info"><br/><em>Taskbox Application</em></h1>

<% if user_signed_in? #Checks whether the user is logged in.%>

	<nav class="navbar navbar-default">
  		<div class="container-fluid">
   		 <!-- Brand and toggle get grouped for better mobile display -->
   		<div class="navbar-header">
      		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        	<span class="sr-only">Toggle navigation</span>
        	<span class="icon-bar"></span>
        	<span class="icon-bar"></span>
        	<span class="icon-bar"></span>
      		</button>
      		<a class="navbar-brand" href="/">Home</a>
    	</div>

    	<!-- Collect the nav links, forms, and other content for toggling -->
    	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      		<ul class="nav navbar-nav">
            <li><%= link_to "List Projects", projects_path %></li>
        		<li><%= link_to "List Announcements", announcements_path %></li>
        		<li class="dropdown">
         		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Clients

            <% if current_user.is_admin? %>
             <span class="badge"><%= Client.all.size %></span>
             <% else %>
             <span class="badge"><%= current_user.clients.size %></span>
             <% end %>  <span class="caret"></span> </a>
          		<ul class="dropdown-menu">
                <% if current_user.is_admin? %>
                  <% for client in Client.all %>
                    <% tasks = Task.joins(:project).where('projects.client_id = ?', client.id) %>
                    <li><%= link_to client_path(client) do %><%= client.name %> <span class="badge"><%= tasks.where('is_completed = ?', false).size %></span><% end %></li>
                  <% end %>
          			
                <% else %>
                  <% for client in current_user.clients %>
                    <% tasks = Task.joins(:project).where('projects.client_id = ?', client.id) %>
                    <li><%= link_to client_path(client) do %><%= client.name %> <span class="badge"><%= tasks.where(' is_completed = ?', false).size %></span><% end %></li>
                  <% end %>
                  <% end %>

          		</ul>
        		</li>
     		</ul>
      		<form class="navbar-form navbar-left">
        		<div class="form-group">
          			<input type="text" class="form-control" placeholder="Search">
        		</div>
        		<button type="submit" class="btn btn-default">Submit</button>
      		</form>
      		<ul class="nav navbar-nav navbar-right">
      			<li class="dropdown">
        	  		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Category Options<span class="caret"></span></a>
          		<ul class="dropdown-menu">
            		<li><%= link_to "List Categories", catgories_path%></li>
            		<li><%= link_to "Add Category", new_catgory_path%> </li>
          		</ul>
        		</li>

        		<li class="dropdown">
        	  		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.email %><span class="caret"></span></a>
          		<ul class="dropdown-menu">
            		<li><%= link_to "Account Settings", edit_user_registration_path%></li>
            		<li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
          		</ul>
        		</li>
      		</ul>
    	</div><!-- /.navbar-collapse -->
  	</div><!-- /.container-fluid -->
</nav>

<% if notice %>
	<div class="alert alert-success" role="alert"><%= notice %></div>
<% end %>

<% if alert %>
  <div class="alert alert-danger" role="alert"><%= alert %></div>
<% end %>

<% else %>
	<div class="btn-group" role="group" aria-label="...">
		<%= link_to "Sign in", new_user_session_path, class: "btn btn-success" %>
		<%= link_to "Sign up", new_user_registration_path, class: "btn btn-warning" %>
	</div>
<% end %>

<p class="alert"><%= alert %></p>

<%= yield %>
</div>

</body>
</html>