<h1>TASKS:</h1>
<ul>
	<li><a href="#completed">Completed Tasks</a></li>
	<li><a href="#incomplete">Incomplete Tasks</a></li>
	<li><a href="#overdue">Overdue Tasks</a></li>
</ul>

<h2 id="completed">COMPLETED TASKS</h2>
<table border="1">
	<thead>
		<tr>
			<th>TITLE</th>
			<th>PROJECT</th>
		</tr>
	</thead>
	<tbody>
		<% for task in Task.list_by_complete.all %>
			<tr>
				<td><%= task.title %></td>
				<td><%= Project.find(task.project_id).name %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<h2 id="incomplete">INCOMPLETE TASKS</h2>
<table border="1">
	<thead>
		<tr>
			<th>TITLE</th>
			<th>PROJECT</th>
		</tr>
	</thead>
	<tbody>
		<% for task in Task.list_by_incomplete.all %>
			<tr>
				<td><%= task.title %></td>
				<td><%= Project.find(task.project_id).name %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<h2 id="overdue">OVERDUE TASKS</h2>
<table border="1">
	<thead>
		<tr>
			<th>TITLE</th>
			<th>PROJECT</th>
			<th>DUE DATE</th>
		</tr>
	</thead>
	<tbody>
		<% for task in Task.list_by_overdue.all %>
			<tr>
				<td><%= task.title %></td>
				<td><%= Project.find(task.project_id).name %></td>
				<td><%= task.due_date.strftime("%A, %d %B %Y") %></td>
			</tr>
		<% end %>
	</tbody>
</table>