<% if @tasks.empty? %>
<h1>NO TASKS FOUND!!</h1>

<% else %>
	<h1><%= @tasks.size%> TASKS FOUND.</h1>
	<table class="table table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>TITLE</th>
			<th>DUE DATE</th>
			<th>IS COMPLETED</th>
			<th>ACTION</th>
		</tr>
	</thead>
	<tbody>
		<% @tasks.each_with_index do |task, index|%>
		<% if task.is_completed %>
			<tr>
				<td><s><%=index+1 %></s></td>
				<td><s><%=task.title %></s></td>
				<td><s><%=task.due_date.strftime("%A, %d %B %Y") %></s></td>
				<td><s><%=task.is_completed %></s></td>
				<td><%= link_to "Show", task_path(task)%></td>
			</tr>
		<% else %>
		<tr>
				<td><%=index+1 %></td>
				<td><%=task.title %></td>
				<td><%=task.due_date.strftime("%A, %d %B %Y") %></td>
				<td><%=task.is_completed %></td>
				<td><%= link_to "Show", task_path(task)%></td>
			</tr>
			<% end %>
		<%end%>
	</tbody>
	</table>
<% end %>