<h2>TITLE <%= @task.title%> </h2>
<h2>PROJECT</h2> <%=link_to "#{Project.find(@task.project_id).name}", project_path(@task.project_id) %> <br/> 

<% if @task.is_completed %>
	<h3 style="color:green;">THIS TASK IS COMPLETED!</h3>

<% else %>

	<% if @task.due_date < Date.today %>
		<h3 style="color:red;">THIS TASK IS OVER DUE!</h3>
	<% end %>
<% end %>

<h3>DUE DATE</h3> <%= @task.due_date.strftime("%A, %d %B %Y")%><br/>