<%= form_for @client do |f| %>

	<% if @client.errors.any? %>
		<div class="alert alert-danger" role="alert">
			<h4>These errors prohibit the form from being saved:</h4>
			<ul>
				<% for msg in @client.errors.full_messages %>
					<li><%= msg%></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="form-group">
		<label>Name</label><br/>
		<%= f.text_field :name, class: "form-control", required: true %>
	</div>

	<div class="form-group">
		<label>Company</label><br/>
		<%= f.text_field :company, class: "form-control", required: true %>
	</div>

	<div class="form-group">
		<label>Mobile Number</label><br/>
		<%= f.text_field :mobile_number, class: "form-control", required: true %>
	</div>

	<div class="form-group">
		<label>Email</label><br/>
		<%= f.email_field :email, class: "form-control", required: true %>
	</div>

	<%= f.submit "Submit", class: "bt btn-success"%>
<% end %>