<table border="2">
	<thead>
		<tr>
			<th>#</th>
			<th>NAME</th>
			<th>COMPANY</th>
			<th>MOBILE NUMBER</th>
			<th>EMAIL</th>
			<th>NUMBER OF PROJECTS</th>
			<th>ALL PROJECTS</th>
			<% if is_admin? %>
			<th>USER EMAIL</th>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<% @clients.each_with_index do |client, index|%>
			<tr>
				<td><%= index+1 %></td>
				<td><%= link_to "#{client.name}", client_path(client) %></td>
				<td><%= client.company %></td>
				<td><%= client.mobile_number %></td>
				<td><%= client.email %></td>
				<td><%= client.projects.size%></td>
				<td><%= client.projects.pluck(:name).join(", ") %></td>
				<% if is_admin? %>
				<td><%= client.user.email %></td>
				<% end %>
			</tr>
		<%end%>
	</tbody>
	</table>