<div class="row">
	<div class="col-md-8">
		<div class="page-header">
			<h1>Listing Clients</h1>
		</div>


		<%= link_to new_client_path, class: "btn btn-primary" do %>
		<span class="glyphicon glyphicon-plus"></span> New Client
		<% end %>

		<% if @clients.empty? %>
			<h3>NO CLIENTS FOUND!!</h3>

		<% else %>
			<h3><%= @clients.size%> CLIENTS FOUND</h3>

			<%= link_to clients_path(format: "xls"), class: "btn btn-info btn-sm pull-right" do %>
			<span class="glyphicon glyphicon-download-alt"></span>Export to Excel
			<% end %>

			<script>
				$(document).ready(function(){
    				$("#clients_table").DataTable();
				});
			</script>

			<table class="table table-striped" id="clients_table">
			<thead>
				<tr>
					<th>NAME</th>
					<th>COMPANY</th>
					<th>MOBILE NUMBER</th>
					<th>EMAIL</th>
					<th>NUMBER OF PROJECTS</th>
					<% if current_user.is_admin? %>
						<th>USER EMAIL</th>
					<% end %>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @clients.each_with_index do |client, index|%>
				<tr>
					<td><%= link_to "#{client.name}", client_path(client) %></td>
					<td><%= client.company %></td>
					<td><%= client.mobile_number %></td>
					<td><%= client.email %></td>
					<td><%= client.projects.size%></td>
					<% if current_user.is_admin? %>
						<td><%= client.user.email %></td>
					<% end %>
					<td>
					<div class="btn-group btn-group-sm" role="group" aria-label="...">
						<%= link_to client_path(client), class: "btn btn-info" do %>
						<span class="glyphicon glyphicon-eye-open"></span> Show<% end %>
						<%= link_to edit_client_path(client.id), class: "btn btn-warning" do %>
						<span class="glyphicon glyphicon-pencil"></span> Edit<% end %>
						<%= link_to client_path(client.id), data: {method: :delete, confirm: "Do you want to delete?"}, class: "btn btn-danger" do %>
						<span class="glyphicon glyphicon-trash"></span> Delete<% end %>
					</div>
					</td>
				</tr>
			<%end%>
		</tbody>
		</table>
	<% end %>
	<br/>
	<hr/>

	</div>
	<div class="col-md-4">
		<div class="page-header">
			<h1>Clients' Statistics</h1>
			<% if current_user.is_admin? %>
				<% 	data = {}
					for client in @clients
						projects_count = client.projects.size
						data[client.name] = projects_count
					end %>
			<% else %>
				<% 	data = {}
					for client in current_user.clients
						projects_count = client.projects.size
						data[client.name] = projects_count
					end %>
			<% end %>
			<%= pie_chart(data) %>
			<%= bar_chart(data) %>
		</div>
	</div>
</div>

