<div class="row">
	<div class="col-md-7">
		<div class="page-header">
			<h3>Client Details</h3>
		</div>
		<div class="page-header">
			<h4>NAME</h4> <%= @client.name%> <br/>
			<h4>COMPANY</h4> <%= @client.company%> <br/>
			<h4>EMAIL</h4> <%= @client.email%> <br/>
			<h4>MOBILE</h4> <%= @client.mobile_number%> <br/>
		</div>

		<b><h2>Listing Projects</h2></b>
		<div class="btn-group" role="group" aria-label="...">
			<%= link_to new_project_path(client_id: @client.id), class: "btn btn-primary" do %>
			<span class="glyphicon glyphicon-plus"></span> Add Project<% end %>
			<%= link_to edit_client_path(@client.id), class: "btn btn-warning" do %>
			<span class="glyphicon glyphicon-pencil"></span> Edit Client<% end %>
			<%= link_to client_path(@client.id), data: {method: :delete, confirm: "Do you want to delete?"}, class: "btn btn-danger" do %>
			<span class="glyphicon glyphicon-trash"></span> Delete Client<% end %>
		</div>
		<br/>

		<% if @client.list_projects.empty? %>
			<h3>No Projects found.</h3>
		<% else %>
			<span id="projectCount">
				<h3><%=@client.list_projects.size %> Projects found.</h3>
			</span>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>NAME</th>
						<th>DESCRIPTION</th>
						<th>START DATE</th>
						<th>END DATE</th>
						<th>ESTIMATED BUDGET</th>
						<th>STATUS</th>
					</tr>
				</thead>
				<tbody>
					<% total_budget = 0 %>
					<% @client.list_projects.each do |project| %>
						<% total_budget += project.estimated_budget %>
						<tr id="tr_<%project.id%>">
							<td><%= project.name %></td>
							<td><%= project.description %></td>
							<td><%= project.start_date.strftime("%A, %d %B %Y") %></td>
							<td><%= project.end_date.strftime("%A, %d %B %Y") %></td>
							<td>₹ <%= project.estimated_budget %></td>
							<td><%= project.status %></td>
							<td>
							<div class="btn-group btn-group-sm" role="group" aria-label="...">
							<%= link_to project_path(project), class: "btn btn-info"  do %> 
								<span class="glyphicon glyphicon-eye-open"></span> Show<% end %>
								<%= link_to edit_project_path(project.id), class: "btn btn-warning"  do %> 
								<span class="glyphicon glyphicon-pencil"></span> Edit<% end %>
								<%= link_to projects_path(project.id), data: {method: :delete, confirm: "Do you want to delete?", remote: true}, class: "btn btn-danger"  do %>
								<span class="glyphicon glyphicon-trash"></span> Delete<% end %>
							</div></td>
						</tr>
					<% end %>
				</tbody>
			</table>

			<% tasks = Task.joins(:project).where('projects.client_id = ?', @client.id).size %>

			<h5><b>Total Tasks: <%= tasks %></b></h5>
			<h3>TOTAL BUDGET: ₹ <%= total_budget %></h3>
			<br>
			<hr/>
		<% end %>
		<hr/>
	</div>
	<div class="col-md-5">
		<div class="page-header">
			<h4>Project Timelines</h4>
		</div>
		<% 	timeline_data = []
			for project in @client.list_projects
				project_array = [project.name, project.start_date, project.end_date]
				timeline_data.push(project_array)
			end
		%>

		<%= timeline timeline_data %>
	</div>
</div>