<%= form_for @project do |f| %>

	<% if @project.errors.any? %>
	<h4>These errors prohibit the form from being saved:</h4>
	<ul style="color: red;">
		<% for msg in @project.errors.full_messages %>
			<li><%= msg%></li>
		<% end %>
	</ul>
	<% end %>
	<!--- collection select takes 4 args: attribute - the foreign key reference client_id, data source - Client.all, primary key, value to be displayed in the drop down -->
	<!--- <label>Client</label><br><%#= f.collection_select parameters, #prompt: Select Client %> -->
	<div class="form-group">
	<label>Client </label><br/>
		<!---<%#= @client.name %>-->
		<%= f.hidden_field :client_id, value: @client.id %>
		<%= f.collection_select :client_id, Client.all, :id, :name, {prompt: "Select Client"}, {class: "form-control", disabled: true, required: true} %><br/>
	</div>

	<div class="form-group">
		<label>Name:</label><br/>
		<%= f.text_field :name, class: "form-control", required: true %><br/>
	</div>

	<div class="form-group">
		<label>Description:</label><br/>
		<%= f.text_area :description, class: "form-control", required: true %><br/>
	</div>

	<div class="form-group">
		<label>Start Date:</label>
		<%= f.date_select :start_date, order: [:month, :day, :year], required: true %><br/>
	</div>

	<div class="form-group">
		<label>End Date:</label>
		<%= f.date_select :end_date, order: [:month, :day, :year], required: true %><br/>
	</div>

	<div class="form-group">
		<label>Status:</label>
		<%= f.select :status, ["New", "Completed", "In Progress"], class: "form-control", required: true %><br/>
	</div>

	<div class="form-group">
		<label>Estimated Budget:</label>
		<%= f.number_field :estimated_budget, minimum: 1, class: "form-control", required: true %><br/>
	</div>

	<div class="form-group">
		<label>Categories:</label><br/>
		<%= f.collection_check_boxes :catgory_ids, current_user.catgories, :id, :name do |b| %>
		<%= b.check_box %> 
		<%= b.label %>
		<br/>
		<% end %>
	</div>

	<%= f.submit "Submit", class: "btn btn-success"%>
<% end %>