<div class="row">
	<div class="col-md-9">
		<div class="page-header">
			<h1>Listing Projects</h1>
		</div>

		<% if @projects.empty? %>
			<h3>NO PROJECTS FOUND!!</h3>
			<b><%= link_to "List all Projects", projects_path %></b>
		
		<% else %>
			<h3><%= @projects.size%> PROJECTS FOUND</h3>

			<%= link_to projects_path(format: "xls"), class: "btn btn-info btn-sm pull-right" do %>
			<span class="glyphicon glyphicon-download-alt"></span>Export to Excel
			<% end %>
		
			<hr/> 	

			<b><h4> Filter by Status : </h4><br/> 
			<div class="btn-group" role="group" aria-label="...">	
				<%= link_to "New", projects_path(status: "New"), class: "btn btn-primary"%>
				<%= link_to "Completed", projects_path(status: "Completed"), class: "btn btn-primary" %>
				<%= link_to "In Progress", projects_path(status: "In Progress"), class: "btn btn-primary" %>
			</div>
			</b>
			<br/>
			
			<hr/>

			<b><h4> Filter by Client : </h4><br/> 
			<div class="btn-group" role="group" aria-label="...">
			<% index = 0 %>
			<% for client in current_user.clients %>
				<% index += 1 %>
				<%= link_to client.name, projects_path(id: client.id), class: "btn btn-primary" %>
				<% if index%5 == 0 %>
					<br/><br/>
				<% end %>
			<% end %>
			</div>
			</b>
		
			<b><%= link_to "List all Projects", projects_path, class: "btn btn-primary" %></b>
			<br/>
			<table class="table table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>NAME</th>
					<th>CLIENT</th>
					<th>DESCRIPTION</th>
					<th>START DATE</th>
					<th>END DATE</th>
					<th>STATUS</th>
				</tr>
			</thead>
			<tbody>
				<% @projects.each_with_index do |project, index|%>
					<tr>
						<td><%=index+1 %></td>
						<td><%=project.name %></td>
						<td><%=link_to project.client.try(:name), client_path(project.client_id) %></td>
						<td><%=project.description %></td>
						<td><%=project.start_date.strftime("%A, %d %B %Y") %></td>
						<td><%=project.end_date.strftime("%A, %d %B %Y") %></td>
						<td><%=project.status%></td>
						<td>
						<div class="btn-group btn-group-sm" role="group" aria-label="...">
						<%= link_to project_path(project), class: "btn btn-info" do %> 
							<span class="glyphicon glyphicon-eye-open"></span> Show <% end %>
							<%= link_to edit_project_path(project.id), class: "btn btn-warning" do %> 
							<span class="glyphicon glyphicon-pencil"></span> Edit <% end %>
							<%= link_to project_path(project.id), data: {method: :delete, confirm: "Do you want to delete?"}, class: "btn btn-danger" do %>
							<span class="glyphicon glyphicon-trash"></span> Destroy <% end %>
						</div></td>
					</tr>
					<%end%>
			</tbody>
			</table>
		<% end %>
	</div>
	<div class="col-md-3">
		<div class="page-header">
			<h1>Clients' Statistics</h1>
			<% 	data = {}
				data["New Projects"] = @projects.where('status = ?', "New").size
				data["In Progress"] = @projects.where('status = ?', "In Progress").size
				data["Completed"] = @projects.where('status = ?', "Completed").size 
			%>

			<%= pie_chart(data) %>
			<%= bar_chart(data) %>
		</div>
	</div>
</div>


