	<table border="2">
	<thead>
		<tr>
			<th>#</th>
			<th>NAME</th>
			<th>CLIENT</th>
			<th>DESCRIPTION</th>
			<th>START DATE</th>
			<th>END DATE</th>
			<th>TASKS</th>
		</tr>
	</thead>
	<tbody>
		<% @projects.each_with_index do |project, index|%>
			<tr>
				<td><%=index+1 %></td>
				<td><%=project.name %></td>
				<td><%=link_to project.client.try(:name), client_path(project.client_id) %></td>
				<td><%=project.description %></td>
				<td><%=project.start_date.strftime("%A, %d %B %Y") %></td>
				<td><%=project.end_date.strftime("%A, %d %B %Y") %></td>
				<td><%= project.tasks.pluck(:title).join(", ") %></td>
			</tr>
			<%end%>
	</tbody>
	</table>