<p>NAME - <%= @project.name%> </p>
<p>CLIENT - <%=link_to "#{Client.find(@project.client_id).name}", client_path(@project.client_id) %> </p> 
<p>DESCRIPTION - <%= @project.description %><br/>
<p>START DATE - <%= @project.start_date.strftime("%A, %d %B %Y")%></p>
<p>END DATE - <%= @project.end_date.strftime("%A, %d %B %Y")%></p>
<p>CATEGORIES - <%= @project.catgories.pluck(:name).join(", ") %>

<table border="2">
	<thead>
		<tr>
			<th>#</th>
			<th>TITLE</th>
			<th>DUE DATE</th>
			<th>IS COMPLETED</th>
		</tr>
	</thead>
	<tbody>
		<% @project.list_tasks.each_with_index do |task, index|%>
		<% if task.is_completed %>
			<tr>
				<td><s><%=index+1 %></s></td>
				<td><s><%=task.title %></s></td>
				<td><s><%=task.due_date.strftime("%A, %d %B %Y") %></s></td>
				<td><s><%=task.is_completed %></s></td>
			</tr>
		<% else %>
		<tr>
				<td><%=index+1 %></td>
				<td><%=task.title %></td>
				<td><%=task.due_date.strftime("%A, %d %B %Y") %></td>
				<% if task.is_completed %>
					<td>Yes</td>
				<% else %>
					<td>No</td>
				<% end %>
			</tr>
			<% end %>
		<%end%>
	</tbody>
	</table>