<div class="row">
	<div class="col-md-8">
		<div class="page-header">
			<b><h2><%= @project.name%></h2></b>
			<%=link_to "#{Client.find(@project.client_id).name}", client_path(@project.	client_id) %> <br/> 
			<%= @project.description %><br/>
			<%= @project.start_date.strftime("%A, %d %B %Y")%> to
			<%= @project.end_date.strftime("%A, %d %B %Y")%><br/>
			<%= @project.catgories.pluck(:name).join(", ") %><br/><br/>
			
			<%= link_to project_path(@project.id, format: "xls"), class: "btn btn-info btn-sm pull-right" do %>
			<span class="glyphicon glyphicon-download-alt"></span>Export to Excel
			<% end %>
		</div>

		<div class="page-header">
			<h1>Listing Tasks</h1>
		</div>

		<% if @project.list_tasks.size > 0 %>

			<p>Project Status:</p><br/>
			<div class="progress">
				<% task_completion = (@complete_tasks.size.to_f / @project.list_tasks.size.to_f)*100.0%>
  				<div class="progress-bar progress_success progress-bar-stripped" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: <%= task_completion.to_i %>%;"><%= task_completion.to_i %>%</div>
			</div>
		<% end %>

		<%= link_to edit_project_path(@project.id), class: "btn btn-warning" do %>
		<span class="glyphicon glyphicon-pencil"></span> Edit this Project<% end %>

		<%= link_to edit_project_path(@project.id), class: "btn btn-danger" do %>
		<span class="glyphicon glyphicon-trash"></span> Delete this Project<% end %>

		<% if @project.list_tasks.empty? %>
			<h2>No Tasks found.</h2>
		<% else %>
			<h2><%=@project.list_tasks.size %> Tasks found.</h2>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>TITLE</th>
					<th>DUE DATE</th>
					<th>IS COMPLETED</th>
				</tr>
			</thead>
			<tbody>
				<% @project.list_tasks.each_with_index do |task, index|%>
				<% if task.is_completed %>
				<tr>
					<td><s><%=index+1 %></s></td>
					<td><s><%=task.title %></s></td>
					<td><s><%=task.due_date.strftime("%A, %d %B %Y") %></s></td>
					<td><s>Yes</s></td>
					<td>
						<%= link_to task_path(task), class: "btn btn-info" do %>
						<span class="glyphicon glyphicon-eye-open"></span> Show<% end %>
						<%= link_to tasks_mark_as_incomplete_path(task_id: task.id), class: "btn btn-warning" do %>
						<span class="glyphicon glyphicon-remove"></span> Mark as Incomplete!<% end %>
						</td>
				</tr>
				<% else %>
				<tr>
					<td><%=index+1 %></td>
					<td><%=task.title %></td>
					<td><%=task.due_date.strftime("%A, %d %B %Y") %></td>
					<td>No</td>
					<td>
						<%= link_to task_path(task), class: "btn btn-info" do %>
						<span class="glyphicon glyphicon-eye-open"></span> Show<% end %>
						<%= link_to tasks_mark_as_complete_path(task_id: task.id), class: "btn btn-success" do %>
						<span class="glyphicon glyphicon-ok"></span> Mark as Complete!<% end %>
					</td>
				</tr>
				<% end %>
			<%end%>
			</tbody>
		</table>
		<hr/>

		<% if @complete_tasks.size > 0 %>
			<h4>Completed Tasks:</h4>
			<ol>
				<% @complete_tasks.each do |task| %>
				<li><%= task.title %></li>
				<% end %>
			</ol>

		<hr/>
		<% end %>

		<% if @incomplete_tasks.size > 0 %>
			<h4>Incomplete Tasks:</h4>
			<ol>
				<% @incomplete_tasks.each do |task| %>
				<li><%= task.title %></li>
				<% end %>
			</ol>
		<hr/>
		<% end %>

		<% if @overdue_tasks.size > 0 %>
			<h4>Overdue Tasks:</h4>
			<ol>
				<% @overdue_tasks.each do |task| %>
				<li><%= task.title %></li>
				<% end %>
			</ol>
		<hr/>
		<% end %>
	<% end %>

	<!-- Button trigger modal -->
	<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
	  Add Task
	</button>
	
	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
	      </div>
	      <div class="modal-body">
	      	<h3>Add Task</h3>
			<%= form_for @task do |f| %>
			
			<%= f.hidden_field :project_id, value: @project.id %>
			
			<div class="form-group">
				<label>Title</label><br/>
				<%= f.text_field :title %>
			</div>
			
			<div class="form-group">
				<label>Due Date</label><br/>
				<%= f.date_select :due_date, order:[:month, :day, :year] %>
			</div>
			
			<div class="form-group">
				<label>Is Completed? </label>
				<%= f.check_box :is_completed %>
			</div>
			
			<%= f.submit "Submit", class: "btn btn-primary" %>
			
			<% end %>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary">Save changes</button>
	      </div>
	    </div>
	  </div>
	</div>
	<br/>
	<br/>

	</div>

	<div class="col-md-4">
		<div class="page-header">
			<h1>Project' Statistics</h1>
			<% 	data = {}
				data["Complete Tasks"] = @complete_tasks.size
				data["Incomplete Tasks"] = @incomplete_tasks.size
				data["Overdue Tasks"] = @overdue_tasks.size
				%>
			<%= pie_chart(data) %>
			<%= bar_chart(data) %>
		</div>
	</div>
</div>





