<h1>Hello World</h1>

2 + 2 = 
<%= 2 + 2 %>

<% movies = ["U Turn", "Kabali", "Independence Day", "Sultan", "Thithi"] %>
<% movies_hash = {	"U Turn" => ["Veeresh, PVR", 120, 8.4], 
					"Kabali" => ["Inox, Lido", 144, 9.2], 
					"Sultan" => ["Inox, PVR, Lido", 132, 9.8]}	%>

<a href="products">List all products.</a>

<ol>
<% 	movies_hash.each do |movie, details|%>
		<li><%=movie%></li>
		<ul>
			<li>Theatre: <%=details[0]%></li>
			<li>Run time: <%=details[1]%></li>
			<li>Rating: <%=details[2]%></li>
		</ul>
<%	end%>
</ol>

<ol>
	<li>Apple</li>
	<li>Mango</li>
	<li>Water Melon</li>
</ol>

<h3>Now Showing</h3>
<ol>
	<% movies.each do |movie| %>
		<li><%= movie %></li>
	<%end%>
</ol>

<% signed_in = [true, false].sample %>
<% if signed_in %>
	<p>Welcome user</p>
<% else %>
	<p>Login to continue</p>
<% end %>

<a href="goodbye">Exit</a>
