<h1>PRODUCTS</h1>

<h2>NUMBER OF PRODUCTS AVAILABLE: <%= @products.length%></h2>
<table border="1">
	<tr>
		<th>PRODUCT</th>
		<th>MANUFACTURER</th>
		<th>SIZE</th>
		<th>STORAGE</th>
		<th>OS</th>
		<th>PRICE (in $)</th>
	</tr>
	<% @products.each do |key, value| %>
	<tr>
		<td><%=key%></td>
		<td><%=value[0]%></td>
		<td><%=value[1]%>"</td>
		<td><%=value[2]%> GB</td>
		<td><%=value[3]%></td>
		<td>$ <%=value[4]%></td>
	</tr>
	<%end%>
</table>
