<h1>Listing catgories</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @catgories.each do |catgory| %>
      <tr>
        <td><%= catgory.name %></td>
        <td><%= link_to catgory, class: "btn btn-info btn-sm" do %><span class="glyphicon glyphicon-eye-open"></span>Show<% end %></td>
        <td><%= link_to edit_catgory_path(catgory), class: "btn btn-warning btn-sm" do %><span class="glyphicon glyphicon-pencil"></span>Edit<% end %></td>
        <td><%= link_to catgory, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" do %><span class="glyphicon glyphicon-trash"></span>Delete<% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add Catgory', new_catgory_path, class: "btn btn-info" %>
